@import "compass";


// $header-height: 40px;
$header-height: 0px;
$footer-height: 240px;

$footer-banner-header-height: 60px;


// Facebook Color Palette
// http://www.color-hex.com/color-palette/185

$facebook-blue: #3B5998;
$facebook-gray: #F7F7F7;
$facebook-white: #FFFFFF;
