{% load pipeline %}<!DOCTYPE html>
<!--
     _____ __  ______  __________  ____  __  ___   __ ________  __
    / ___// / / / __ \/ ____/ __ \/ __ \/ / / / | / // ____/ / / /
    \__ \/ / / / /_/ / __/ / /_/ / /_/ / / / /  |/ // /   / /_/ /
   ___/ / /_/ / ____/ /___/ _, _/ ____/ /_/ / /|  // /___/ __  /
  /____/\____/_/   /_____/_/ |_/_/    \____/_/ |_(_)____/_/ /_/

  SuperPun.ch :: Leading Contents Distribution
  http://superpun.ch
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheet 'vendor' %}
    {% stylesheet 'main' %}
  </head>
  <body>
    {% include '_partials/_header.html' %}
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    {% include '_partials/_footer.html' %}
    {% javascript 'vendor' %}
    {% javascript 'main' %}
  </body>
</html>
